
@font-face {
	font-family: Ginger;
	src: url(../../public/.otf/Ginger.otf);
}
							
@font-face {
	font-family: Karasha;
	src: url(../../public/.otf/Karasha.otf);
}
							
@font-face {
	font-family: Magnificent;
	src: url(../../public/.otf/Magnificent.otf);
}
							
@font-face {
	font-family: Peristiwa;
	src: url(../../public/.otf/Peristiwa.otf);
}
							
@font-face {
	font-family: Sigokae;
	src: url(../../public/.otf/Sigokae.otf);
}
							
@font-face {
	font-family: TimberWolf;
	src: url(../../public/.otf/TimberWolf.otf);
}
							
@font-face {
	font-family: WylieVoigen;
	src: url(../../public/.otf/WylieVoigen.otf);
}
							
@font-face {
	font-family: Amoitar;
	src: url(../../public/.ttf/Amoitar.ttf);
}
							
@font-face {
	font-family: AnonymousPro;
	src: url(../../public/.ttf/AnonymousPro.ttf);
}
							
@font-face {
	font-family: Attena;
	src: url(../../public/.ttf/Attena.ttf);
}
							
@font-face {
	font-family: Chromate;
	src: url(../../public/.ttf/Chromate.ttf);
}
							
@font-face {
	font-family: Consolas;
	src: url(../../public/.ttf/Consolas.ttf);
}
							
@font-face {
	font-family: FiraCode;
	src: url(../../public/.ttf/FiraCode.ttf);
}
							
@font-face {
	font-family: Gerlomi;
	src: url(../../public/.ttf/Gerlomi.ttf);
}
							
@font-face {
	font-family: GothicA1;
	src: url(../../public/.ttf/GothicA1.ttf);
}
							
@font-face {
	font-family: JetBrainsMono;
	src: url(../../public/.ttf/JetBrainsMono.ttf);
}
							
@font-face {
	font-family: LeagueGothic;
	src: url(../../public/.ttf/LeagueGothic.ttf);
}
							
@font-face {
	font-family: Oswald;
	src: url(../../public/.ttf/Oswald.ttf);
}
							
@font-face {
	font-family: Sofia;
	src: url(../../public/.ttf/Sofia.ttf);
}
							