
@font-face {
	font-family: Ginger;
	src: url(/.otf/Ginger.otf);
}
							
@font-face {
	font-family: Karasha;
	src: url(/.otf/Karasha.otf);
}
							
@font-face {
	font-family: Magnificent;
	src: url(/.otf/Magnificent.otf);
}
							
@font-face {
	font-family: Peristiwa;
	src: url(/.otf/Peristiwa.otf);
}
							
@font-face {
	font-family: Sigokae;
	src: url(/.otf/Sigokae.otf);
}
							
@font-face {
	font-family: TimberWolf;
	src: url(/.otf/TimberWolf.otf);
}
							
@font-face {
	font-family: WylieVoigen;
	src: url(/.otf/WylieVoigen.otf);
}
							
@font-face {
	font-family: Amoitar;
	src: url(/.ttf/Amoitar.ttf);
}
							
@font-face {
	font-family: AnonymousPro;
	src: url(/.ttf/AnonymousPro.ttf);
}
							
@font-face {
	font-family: Attena;
	src: url(/.ttf/Attena.ttf);
}
							
@font-face {
	font-family: Chromate;
	src: url(/.ttf/Chromate.ttf);
}
							
@font-face {
	font-family: Consolas;
	src: url(/.ttf/Consolas.ttf);
}
							
@font-face {
	font-family: FiraCode;
	src: url(/.ttf/FiraCode.ttf);
}
							
@font-face {
	font-family: Gerlomi;
	src: url(/.ttf/Gerlomi.ttf);
}
							
@font-face {
	font-family: GothicA1;
	src: url(/.ttf/GothicA1.ttf);
}
							
@font-face {
	font-family: JetBrainsMono;
	src: url(/.ttf/JetBrainsMono.ttf);
}
							
@font-face {
	font-family: LeagueGothic;
	src: url(/.ttf/LeagueGothic.ttf);
}
							
@font-face {
	font-family: Oswald;
	src: url(/.ttf/Oswald.ttf);
}
							
@font-face {
	font-family: Sofia;
	src: url(/.ttf/Sofia.ttf);
}
							